<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv='X-UA-Compatible' content='IE=edge;chrome=1'>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title><%= current_page.data.title%> &middot; Marx</title>

    <link rel="apple-touch-icon" sizes="180x180" href="/img/favicons/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/img/favicons/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/img/favicons/favicon-16x16.png">
    <link rel="manifest" href="/img/favicons/site.webmanifest">
    <link rel="mask-icon" href="/img/favicons/safari-pinned-tab.svg" color="#007bff">
    <meta name="msapplication-TileColor" content="#2b5797">
    <meta name="theme-color" content="#007bff">

    <link rel="stylesheet" href="https://rawgit.com/mblode/marx/master/css/marx.min.css">
    <%= stylesheet_link_tag "all" %>
    
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-54745665-10"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-54745665-10');
    </script>
  </head>

  <%= partial "partials/nav" %>

  <body>
    <main>
      <%= yield %>

      <%= partial "partials/footer" %>
    </main>
  </body>

</html>
